// yellow color
$yellow: #FFC107;
$yellowHover: #daa506;
// link color
$linkColor: #000;
// gray color
$grayBg: #cecece;
$grayHoverBg: #ececec;
$grayText: #7b7b7b;
// Back color 
$bgColor: #f5f5f5;
$cardBgColor: #ffff;
//Green color
$green: #65C525;
// Glass color
$grayGlassBg: rgba(76, 175, 80, 45%);
