
      @keyframes cart {
        0% {
          left: -10%;
        }

        40%,
        60% {
          left: 50%;
        }

        100% {
          left: 120%;
        }
      }

      @keyframes box {
        0%,
        40% {
          top: -20%;
        }

        60% {
          top: 36%;
          left: 53%;
        }

        100% {
          top: 40%;
          left: 112%;
        }
      }

      @keyframes addcart {
        0%,
        30% {
          opacity: 1;
        }

        30%,
        100% {
          opacity: 0;
        }
      }

      @keyframes added {
        0%,
        80% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }